leelaz
*.o
*.d
.vscode/settings.json
training/tf/leelalogs
training/tf/checkpoint
training/tf/venv
leelaz-model*
*.orig
leelaz_opencl_tuning

training/rx0.12/models/
training/rx0.12/leelazlogs
training/rx0.12/checkpoint
training/rx0.12/__pycache__
training/rx0.13/leelazlogs
training/rx0.13/checkpoint
training/rx0.13/__pycache__

/scripts/__pycache__/
/training/rx0.12/tfresnext (copy).py
